body {
	background-image: url(steel-diamond-plate-background-dark.jpg);
	background-repeat: repeat;
	background-color: #000;
	color: #FFF;
}

.section1 {
	
}

.section2 {
	background-color: black;
}

a:link {
	text-decoration: none;
	color: #F00;
}
a:visited {
	text-decoration: none;
	color: #FF0;
}
a:hover {
	text-decoration: none;
	color: #0F0;
}
a:active {
	text-decoration: none;
	color: #FF0;
	font-family: "Comic Sans MS", cursive;
	font-size: small;
}

